<div class="col-md-6 list-group">
  <a href="{% url 'membership' %}" class="list-group-item active">
    <h4 class="list-group-item-heading">
      Premium Member: <span class="badge pull-right">${{ PREMIUM_MEMBERSHIP }}
    </h4>
  </a>
  <a href="{% url 'membership' %}" class="list-group-item">
    <p class="list-group-item-text">
      <ul>
        <li>Free access to standard tools & bays up to 150 hours/year</li>
        <li>Exclusive access to the member lounge</li>
        <li>Invitations to member only events</li>
      </ul>
    </p>
  </a>
  <a href="{% url 'payment' membership='premium' %}" class="list-group-item">
    <p class="list-group-item-text text-center">
      Join Now
    </p>
  </a>
</div>
<div class="col-md-6 list-group">
  <a href="{% url 'membership' %}" class="list-group-item active">
    <h4 class="list-group-item-heading">
      Regular Member: <span class="badge pull-right">${{ REGULAR_MEMBERSHIP }}</span>
    </h4>
  </a>
  <a href="{% url 'membership' %}" class="list-group-item">
    <p class="list-group-item-text">
      <ul>
        <li>Discounts on standard tools & bay rentals</li>
        <li>Exclusive access to the member lounge</li>
        <li>Invitations to member only events</li>
      </ul>
    </p>
  </a>
  <a href="{% url 'payment' membership='regular' %}" class="list-group-item">
    <p class="list-group-item-text text-center">
      Join Now
    </p>
  </a>
</div>