/* Jumbotron Narrow */
/* Space out content a bit */




.main {
  margin-top: 40px;
}

.jumbotron {
  margin-top: 40px;
}

/* Customize container */
@media (min-width: 800px) {
  .container {
    max-width:900px;
  }
}

@media (max-width: 992px) {
  .main {
    margin-top: 110px;
  }
}

.main li {
	padding: 8px 0;
}

.founders h4 {
	font-weight: bold;
}

#mc_embed_signup label {
  padding: 6px !important;
}