{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1 class="page-header">Concept Description</h1>

<p class="lead">
  Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
</p>

<h1 class="page-header">Membership Tiers</h1>

<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>

<a href="#" class="">Link to membership</a>

<h1 class="page-header">Founder's Story</h1>

<p class="lead">
  Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
</p>

<h1 class="page-header">Meet the Team</h1>

<p class="lead">
  Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
</p>
{% endblock %}
