{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <h1>
    <img src="{% static 'img/floorplan.jpg' %}" class="img-responsive" alt="Gearhead Workspace"/>
  </h1>

  <ul class="">
    <li><em>Rent a lift or wash bay</em> by the hour or for a day. Includes basic set of tools.</li>
    <li><em>Rent specialty tools</em> such as diagnostic equipment.</li>
    <li>Forget a standard part? We can <em>get it delivered</em> at the drop of a hat.</li>
    <li>Need a little help? <em>Work alongside a mechanic</em> to get the job done right.</li>
    <li>In over your head? Let our mechanics finish the job for you.</li>
    <li>Not sure what’s under your hood? <em>Watch our mechanic work</em> and he’ll give you a tour of your machine.</li>
    <li><em>Enjoy classes</em> to expand your knowledge.</li>
    <li><em>Store</em> your seasonal tires.</li>
    <li>Can’t get enough? <a href="#">Become a member</a> and get discounts on bay & standard tool rental, enjoy access to the member lounge, and invitations to exclusive member events such as autocross days.</li>
  </ul>
</div>

{% endblock %}
