{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row founders">

	<h1 class="page-header">Founder's Story</h1>

	<p>
		After moving to the city car nuts Molly & Tim quickly realized it’s not so easy to do regular maintenance without the space. In talking with fellow car nuts they decided a shared garage was needed to fulfill their urban lifestyle.
	</p>
	<p>
		While researching the concept their idea grew and grew. It turned out that urban gearheads aren’t the only ones who need this space. Using lifts makes many jobs much easier and there are a slew of people who just don’t know about the machine they drive every day.
	</p>
	<p>
		Gearhead Workspace aims to help all of these people. From those who don’t want anyone else working on their car to those who don’t know where to start. Cars are amazing machines and we want to help you get the most enjoyment you can from yours.
	</p>
</div>

<div class="row founders">
	<h2>Meet The Team</h2>

	<h4>Tim Heyen<small> – Founder</small></h4>

	<p>
		When Tim was five he told his parents he wanted a Corvette. By the age of fifteen he saved enough money to buy his first car. A fixer upper that he lovingly brought back to life on his own. He eventually did get the Vette he wanted and is now a member of two Corvette clubs and regularly attends performance driving school.
	</p>

	<h4>Molly Heyen<small> – CoFounder</small></h4>
	<p>
		If Molly has any regrets in life it’s losing the picture she took as a child of the Ferrari Testarossa at her first visit to the Chicago Auto Show. It was love at first sight. While she doesn’t own a Ferrari she’s always been a race car drive at heart. In High School her Jeep Wrangler was well-known for reaching speeds it was not designed for. Along with Tim she is also a member of two Corvette clubs and regularly attends performance driving school.
	</p>


	<h4>John Mullen</h4>
	<p>
		As our marketing and business development specialist, John has spent the majority of his time, since graduating from the University of Chicago, building analytic practices in advertising agencies and exploring the Pacific Northwest with his fiancé. John fell in love with curves when he first saw a Porsche GT2 at the age of 12. He quickly recognized a great business concept and opportunity to rediscover his inner gearhead when he first heard about Gearhead Workspace from Tim. He is looking forward to turning our concept into a reality to create a space for urban auto enthusiasts.
	</p>
</div>

{% endblock %}
