{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <div class="row jumbotron">
    <h1>
      <img src="{% static 'img/logo2.gif' %}" class="img-responsive" alt="Gearhead Workspace"/>
    </h1>
    <p/>
    <div class="text-center">
      <p>Do you love working on your car or motorcycle?</p>
      <p>Do you wish you knew how?</p>
      <p>Let Gearhead Workspace help you out!</p>
      <p><a class="btn btn-lg btn-success" href="{% url 'membership' %}" role="button">Become a member today</a></p>
    </div>
  </div>

  <div class="row marketing">
    <p class="lead">
      Gearhead Workspace offers the lifts & tools you need to perform work on your own car or motorcycle. Work by yourself, alongside a mechanic, or just watch our mechanic do the work for you. Unveiling the mysteries of autos is what Gearhead Workspace is in business to do.
    </p>
  </div>

  <div class="row">
    <div class="well">
      <p>Sign up for our newsletter for more information.</p>


<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//facebook.us8.list-manage.com/subscribe/post?u=317832a4ecdbb58fb617e2ffa&amp;id=2db187fbdd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE3">Comments or Questions </label>
  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
<div class="mc-field-group input-group">
    <strong>Do you perform any work on your vehicle(s) </strong>
    <ul><li><input type="radio" value="Yes" name="MMERGE6" id="mce-MMERGE6-0"><label for="mce-MMERGE6-0">Yes</label></li>
<li><input type="radio" value="No" name="MMERGE6" id="mce-MMERGE6-1"><label for="mce-MMERGE6-1">No</label></li>
</ul>
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE5">Vehicle Make and Model </label>
  <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE4">Vehicle Year </label>
  <input type="text" value="" name="MMERGE4" class="" id="mce-MMERGE4">
</div>
<div class="mc-field-group input-group">
    <strong>How would you describe your experience level? </strong>
    <ul><li><input type="radio" value="Novice (I want to work on my car but don't know how)" name="MMERGE9" id="mce-MMERGE9-0"><label for="mce-MMERGE9-0">Novice (I want to work on my car but don't know how)</label></li>
<li><input type="radio" value="Tinkerer (I do small jobs to fix my car like filter changing or fluid fill up)" name="MMERGE9" id="mce-MMERGE9-1"><label for="mce-MMERGE9-1">Tinkerer (I do small jobs to fix my car like filter changing or fluid fill up)</label></li>
<li><input type="radio" value="Average Gearhead (I know how to change brakes and do it when needed)" name="MMERGE9" id="mce-MMERGE9-2"><label for="mce-MMERGE9-2">Average Gearhead (I know how to change brakes and do it when needed)</label></li>
<li><input type="radio" value="Gearhead (I can pretty much do any types of work on the car provide I have equipment)" name="MMERGE9" id="mce-MMERGE9-3"><label for="mce-MMERGE9-3">Gearhead (I can pretty much do any types of work on the car provide I have equipment)</label></li>
<li><input type="radio" value="Professional Mechanic" name="MMERGE9" id="mce-MMERGE9-4"><label for="mce-MMERGE9-4">Professional Mechanic</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>How frequently do you work on your vehicle(s)? </strong>
    <ul><li><input type="radio" value="Daily" name="MMERGE8" id="mce-MMERGE8-0"><label for="mce-MMERGE8-0">Daily</label></li>
<li><input type="radio" value="Weekly" name="MMERGE8" id="mce-MMERGE8-1"><label for="mce-MMERGE8-1">Weekly</label></li>
<li><input type="radio" value="Monthly" name="MMERGE8" id="mce-MMERGE8-2"><label for="mce-MMERGE8-2">Monthly</label></li>
<li><input type="radio" value="Seasonally" name="MMERGE8" id="mce-MMERGE8-3"><label for="mce-MMERGE8-3">Seasonally</label></li>
<li><input type="radio" value="Only Scheduled Maintenance" name="MMERGE8" id="mce-MMERGE8-4"><label for="mce-MMERGE8-4">Only Scheduled Maintenance</label></li>
<li><input type="radio" value="Do not work on vehicle" name="MMERGE8" id="mce-MMERGE8-5"><label for="mce-MMERGE8-5">Do not work on vehicle</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Do you want to work on your vehicle(s) more? </strong>
    <ul><li><input type="radio" value="Not Interest" name="MMERGE7" id="mce-MMERGE7-0"><label for="mce-MMERGE7-0">Not Interest</label></li>
<li><input type="radio" value="Some Interest" name="MMERGE7" id="mce-MMERGE7-1"><label for="mce-MMERGE7-1">Some Interest</label></li>
<li><input type="radio" value="A Lot of Interest" name="MMERGE7" id="mce-MMERGE7-2"><label for="mce-MMERGE7-2">A Lot of Interest</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Do most of your projects span one or multiple days </strong>
    <ul><li><input type="radio" value="One Day" name="MMERGE10" id="mce-MMERGE10-0"><label for="mce-MMERGE10-0">One Day</label></li>
<li><input type="radio" value="Multiple Days" name="MMERGE10" id="mce-MMERGE10-1"><label for="mce-MMERGE10-1">Multiple Days</label></li>
<li><input type="radio" value="About a 50/50 Split" name="MMERGE10" id="mce-MMERGE10-2"><label for="mce-MMERGE10-2">About a 50/50 Split</label></li>
</ul>
</div>
<div class="mc-field-group size1of2">
  <label for="mce-MMERGE12-month">Birthday </label>
  <div class="datefield">
    <span class="subfield monthfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE12[month]" id="mce-MMERGE12-month"></span> /
    <span class="subfield dayfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE12[day]" id="mce-MMERGE12-day"></span> /
    <span class="subfield yearfield"><input class="datepart " type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE12[year]" id="mce-MMERGE12-year"></span>
        <span class="small-meta nowrap">( mm / dd / yyyy )</span>
  </div>
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE11">Home Zip Code </label>
  <input type="text" value="" name="MMERGE11" class="" id="mce-MMERGE11">
</div>
<div class="mc-field-group input-group">
    <strong>Annual Household Income </strong>
    <ul><li><input type="radio" value="Less than $50k" name="MMERGE13" id="mce-MMERGE13-0"><label for="mce-MMERGE13-0">Less than $50k</label></li>
<li><input type="radio" value="$50k to $100k" name="MMERGE13" id="mce-MMERGE13-1"><label for="mce-MMERGE13-1">$50k to $100k</label></li>
<li><input type="radio" value="$100k to $150k" name="MMERGE13" id="mce-MMERGE13-2"><label for="mce-MMERGE13-2">$100k to $150k</label></li>
<li><input type="radio" value="$150k to $200k" name="MMERGE13" id="mce-MMERGE13-3"><label for="mce-MMERGE13-3">$150k to $200k</label></li>
<li><input type="radio" value="$200k+" name="MMERGE13" id="mce-MMERGE13-4"><label for="mce-MMERGE13-4">$200k+</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Ethnicity </strong>
    <ul><li><input type="radio" value="Caucasian" name="MMERGE15" id="mce-MMERGE15-0"><label for="mce-MMERGE15-0">Caucasian</label></li>
<li><input type="radio" value="African-American" name="MMERGE15" id="mce-MMERGE15-1"><label for="mce-MMERGE15-1">African-American</label></li>
<li><input type="radio" value="Hispanic" name="MMERGE15" id="mce-MMERGE15-2"><label for="mce-MMERGE15-2">Hispanic</label></li>
<li><input type="radio" value="Asian" name="MMERGE15" id="mce-MMERGE15-3"><label for="mce-MMERGE15-3">Asian</label></li>
</ul>
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE16">Please list any car clubs you are a member of </label>
  <input type="text" value="" name="MMERGE16" class="" id="mce-MMERGE16">
</div>
<div class="mc-field-group input-group">
    <strong>Gender </strong>
    <ul><li><input type="radio" value="Male" name="MMERGE14" id="mce-MMERGE14-0"><label for="mce-MMERGE14-0">Male</label></li>
<li><input type="radio" value="Female" name="MMERGE14" id="mce-MMERGE14-1"><label for="mce-MMERGE14-1">Female</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Why do you work on your own vehicle(s)? </strong>
    <ul><li><input type="checkbox" value="4194304" name="group[6189][4194304]" id="mce-group[6189]-6189-0"><label for="mce-group[6189]-6189-0">Cost savings</label></li>
<li><input type="checkbox" value="8388608" name="group[6189][8388608]" id="mce-group[6189]-6189-1"><label for="mce-group[6189]-6189-1">Time/Convenience</label></li>
<li><input type="checkbox" value="16777216" name="group[6189][16777216]" id="mce-group[6189]-6189-2"><label for="mce-group[6189]-6189-2">I can do a better job than a mechanic</label></li>
<li><input type="checkbox" value="33554432" name="group[6189][33554432]" id="mce-group[6189]-6189-3"><label for="mce-group[6189]-6189-3">I enjoy car projects</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Send me info for... </strong>
    <ul><li><input type="checkbox" value="1" name="group[5141][1]" id="mce-group[5141]-5141-0"><label for="mce-group[5141]-5141-0">Advisors</label></li>
<li><input type="checkbox" value="2" name="group[5141][2]" id="mce-group[5141]-5141-1"><label for="mce-group[5141]-5141-1">Email List</label></li>
<li><input type="checkbox" value="4" name="group[5141][4]" id="mce-group[5141]-5141-2"><label for="mce-group[5141]-5141-2">Founding Members</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>When do you primarily work on your vehicle(s)? </strong>
    <ul><li><input type="checkbox" value="8" name="group[6177][8]" id="mce-group[6177]-6177-0"><label for="mce-group[6177]-6177-0">Weekends 8am-5pm</label></li>
<li><input type="checkbox" value="16" name="group[6177][16]" id="mce-group[6177]-6177-1"><label for="mce-group[6177]-6177-1">Weekends 5pm-10pm</label></li>
<li><input type="checkbox" value="32" name="group[6177][32]" id="mce-group[6177]-6177-2"><label for="mce-group[6177]-6177-2">Weekdays 8am-12pm</label></li>
<li><input type="checkbox" value="64" name="group[6177][64]" id="mce-group[6177]-6177-3"><label for="mce-group[6177]-6177-3">Weekdays 12pm-5pm</label></li>
<li><input type="checkbox" value="128" name="group[6177][128]" id="mce-group[6177]-6177-4"><label for="mce-group[6177]-6177-4">Weekdays 5pm-10pm</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>When would you prefer to work on your vehicle(s)? </strong>
    <ul><li><input type="checkbox" value="256" name="group[6181][256]" id="mce-group[6181]-6181-0"><label for="mce-group[6181]-6181-0">Weekends 8am-5pm</label></li>
<li><input type="checkbox" value="512" name="group[6181][512]" id="mce-group[6181]-6181-1"><label for="mce-group[6181]-6181-1">Weekends 5pm-10pm</label></li>
<li><input type="checkbox" value="1024" name="group[6181][1024]" id="mce-group[6181]-6181-2"><label for="mce-group[6181]-6181-2">Weekdays 8am-12pm</label></li>
<li><input type="checkbox" value="2048" name="group[6181][2048]" id="mce-group[6181]-6181-3"><label for="mce-group[6181]-6181-3">Weekdays 12pm-5pm</label></li>
<li><input type="checkbox" value="4096" name="group[6181][4096]" id="mce-group[6181]-6181-4"><label for="mce-group[6181]-6181-4">Weekdays 5pm-10pm</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Primary limits to working on my vehicle more are: </strong>
    <ul><li><input type="checkbox" value="8192" name="group[6185][8192]" id="mce-group[6185]-6185-0"><label for="mce-group[6185]-6185-0">Lack of knowledge</label></li>
<li><input type="checkbox" value="16384" name="group[6185][16384]" id="mce-group[6185]-6185-1"><label for="mce-group[6185]-6185-1">Lack of workspace</label></li>
<li><input type="checkbox" value="32768" name="group[6185][32768]" id="mce-group[6185]-6185-2"><label for="mce-group[6185]-6185-2">Lack of tools</label></li>
<li><input type="checkbox" value="65536" name="group[6185][65536]" id="mce-group[6185]-6185-3"><label for="mce-group[6185]-6185-3">Lack of time</label></li>
<li><input type="checkbox" value="131072" name="group[6185][131072]" id="mce-group[6185]-6185-4"><label for="mce-group[6185]-6185-4">Lack of assistance</label></li>
<li><input type="checkbox" value="262144" name="group[6185][262144]" id="mce-group[6185]-6185-5"><label for="mce-group[6185]-6185-5">Lack of training</label></li>
<li><input type="checkbox" value="524288" name="group[6185][524288]" id="mce-group[6185]-6185-6"><label for="mce-group[6185]-6185-6">Access to parts</label></li>
<li><input type="checkbox" value="1048576" name="group[6185][1048576]" id="mce-group[6185]-6185-7"><label for="mce-group[6185]-6185-7">Concern about finishing in time to drive the car</label></li>
<li><input type="checkbox" value="2097152" name="group[6185][2097152]" id="mce-group[6185]-6185-8"><label for="mce-group[6185]-6185-8">Nothing - I don't want to work on my vehicle more</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Are there projects you have interest in learning? </strong>
    <ul><li><input type="checkbox" value="67108864" name="group[6193][67108864]" id="mce-group[6193]-6193-0"><label for="mce-group[6193]-6193-0">Changing Brakes</label></li>
<li><input type="checkbox" value="134217728" name="group[6193][134217728]" id="mce-group[6193]-6193-1"><label for="mce-group[6193]-6193-1">Changing Oil</label></li>
<li><input type="checkbox" value="268435456" name="group[6193][268435456]" id="mce-group[6193]-6193-2"><label for="mce-group[6193]-6193-2">Stereo Installation</label></li>
<li><input type="checkbox" value="536870912" name="group[6193][536870912]" id="mce-group[6193]-6193-3"><label for="mce-group[6193]-6193-3">Tire Installation and Rotation</label></li>
<li><input type="checkbox" value="1073741824" name="group[6193][1073741824]" id="mce-group[6193]-6193-4"><label for="mce-group[6193]-6193-4">Motorcycle Maintenance</label></li>
</ul>
</div>
<div class="mc-field-group input-group">
    <strong>Email Format </strong>
    <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
<li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
</ul>
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_317832a4ecdbb58fb617e2ffa_2db187fbdd" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[6]='MMERGE6';ftypes[6]='radio';fnames[5]='MMERGE5';ftypes[5]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[9]='MMERGE9';ftypes[9]='radio';fnames[8]='MMERGE8';ftypes[8]='radio';fnames[7]='MMERGE7';ftypes[7]='radio';fnames[10]='MMERGE10';ftypes[10]='radio';fnames[12]='MMERGE12';ftypes[12]='date';fnames[11]='MMERGE11';ftypes[11]='zip';fnames[13]='MMERGE13';ftypes[13]='radio';fnames[15]='MMERGE15';ftypes[15]='radio';fnames[16]='MMERGE16';ftypes[16]='text';fnames[14]='MMERGE14';ftypes[14]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


    </div>
  </div>

  <div class="row">
    <h4>Memberships</h4>
    <p>
      Want more than simply tools & equipment by the hour? Check out our two membership levels.
    </p>
    <div class="col-md-6 list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Premium Member</h4>
      </a>
      <a href="#" class="list-group-item">
        <p class="list-group-item-text">
          <ul>
            <li>Free access to standard tools & bays up to 150 hours/year</li>
            <li>Exclusive access to the member lounge</li>
            <li>Invitations to member only events</li>
          </ul>
        </p>
      </a>
    </div>
    <div class="col-md-6 list-group">
      <a href="{% url 'membership' %}" class="list-group-item active">
        <h4 class="list-group-item-heading">Regular Member</h4>
      </a>
      <a href="{% url 'membership' %}" class="list-group-item">
        <p class="list-group-item-text">
          <ul>
            <li>Discounts on standard tools & bay rentals</li>
            <li>Exclusive access to the member lounge</li>
            <li>Invitations to member only events</li>
          </ul>
        </p>
      </a>
    </div>
  </div>

{% endblock %}
