{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">

  <h1 class="page-header">Become a Member</h1>
<h4>
    <p>
      Thank you for your interest in becoming a member ! Because we are selling these memberships pre-opening, as an early member you will receive a <b>15%</b> discount on your first year of membership. This price will only be available before we open for business so don't delay!
    </p>

    <p>
      <b>25 for $5</b><br>
      Excited to become a member but want to see the space first? Reserve a membership today! We are currently running a <b>25 for $5</b> promotion that will allow you to reserve your membership at a 10% discount for only $5 today. We will even send you a free Gearhead Workspace keychain! You will then have 6 months from the date (TBD) of our grand opening to claim either a Regular or Premium membership at 10% off the regular price. This is a special offer that is only available to the first 25 people who request it so make your reservation today! When you click on the "Reserve Now" link below, be sure to enter $5 as the amount and we will make sure to hold your reservation for you.
    </p>

    <p>
      The money you contribute to Gearhead Workspace during the pre-opening phase is considered a donation that is not tax-deductible. We will be using this money to pay lawyers, accountants, and other service providers in the expectation that we will be opening our first garage in the Fall of 2016. If for some reason we are not able to open, we cannot guarantee that your donation will be returned to you. Memberships will become valid the day we have our grand opening and the membership period will be for one year after that day. After the first year, you will be invited to continue your membership by choosing from one of the options available at that time.
    </p>
</h4>
    {% include "partials/membership_options.html" %}

</div>

{% endblock %}
