{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">

  <h1 class="page-header">Become a Member</h1>
<h4>
    <p>
      Thank you for your interest in becoming a founding member! This will help us establish initial interest and funding and you get a <b>50%</b> discount on your first year of membership. To thank our Founding Members, we are offering Founding Memberships at half the price our normal memberships will cost. Similar to other crowdfunding efforts, we want to give you comfort knowing that there are others willing to contribute. Our goal is to raise a minimum of $4500 in Founding Memberships and donations as proof of the demand for Gearhead Workspace. If we do not reach at least this level of support by the end of January 2015, we will refund any contributions that have been made.
    </p>

    <p>
      Not ready for a membership? Want to give more? Make a donation!
    </p>

    <p>
      The money you contribute to Gearhead Workspace during the Founding Membership phase is considered a donation that is not tax-deductible. We will be using this money to pay lawyers, accounts, and other service providers in the expectation that we will be opening our first garage in the second half of 2015. If for some reason we are not able to open, we are not able to guarantee that your donation will be returned to you.
    </p>
</h4>
    {% include "partials/membership_options.html" %}

</div>

{% endblock %}
