{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">

  <h1 class="page-header">Become a Member</h1>
<h4>
    <p>
      Thank you for your interest in becoming an early bird member! Because we are selling these memberships pre-opening, as an early bird member you will receive a <b>30%</b> discount on your first year of membership. These memberships will only be available until March 31, 2015!
    </p>

    <p>
      Not ready for a membership? Want to give more? Make a donation!
    </p>

    <p>
      The money you contribute to Gearhead Workspace during the early bird membership phase is considered a donation that is not tax-deductible. We will be using this money to pay lawyers, accountants, and other service providers in the expectation that we will be opening our first garage in the second half of 2015. If for some reason we are not able to open, we cannot guarantee that your donation will be returned to you. Memberships will become valid the day we have our grand opening and the membership period will be for one year after that day. After the first year, you will be invited to continue your membership by choosing from one of the options available at that time.
    </p>
</h4>
    {% include "partials/membership_options.html" %}

</div>

{% endblock %}
