{% extends "base.html" %}

{% block extrahead %}
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
{% endblock %}

{% block extrascript %}
<script>
  braintree.setup("{{ token }}", 'dropin', {
    container: 'dropin'
  });
</script>
{% endblock %}

{% block content %}

<div class="row">

  {% if membership == 'premium' %}

  <h1 class="page-header">Submit payment</h1>

  <p class="lead">
    Thanks for becoming a founding member! This will help us establish initial interest and funding and you get a discount on your first year of membership.
  </p>

  {% elif membership == 'donation' %}

  <h1 class="page-header">Make a donation</h1>

  <p class="lead">
    Thank you for making a donation to help Gearhead Workspace get started!
  </p>

  {% endif %}

  <div class="list-group">

  {% if membership == 'premium' %}

  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">
        Premium Member: <span class="badge badge-inverse pull-right">${{ PREMIUM_MEMBERSHIP }}</span>
      </h4>
    </a>
    <a href="#" class="list-group-item">
      <p class="list-group-item-text">
        <ul>
          <li>Free access to standard tools & bays up to 150 hours/year</li>
          <li>Exclusive access to the member lounge</li>
          <li>Invitations to member only events</li>
        </ul>
      </p>
    </a>
  </div>

  {% elif membership == 'regular' %}

  <div class="list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">
        Regular Member: <span class="badge badge-inverse pull-right">${{ REGULAR_MEMBERSHIP }}</span>
      </h4>
    </a>
    <a href="#" class="list-group-item">
      <p class="list-group-item-text">
        <ul>
          <li>Discounts on standard tools & bay rentals</li>
          <li>Exclusive access to the member lounge</li>
          <li>Invitations to member only events</li>
        </ul>
      </p>
    </a>
  </div>

  {% endif %}
  </div>

  {% if errors %}
  <div class="row">
    <div class="alert alert-danger" role="alert">
      There was a problem submitting your payment
    </div>
      <p class="lead">
        Please contact us so we can investigate further:
      <a href="mailto:tim@gearheadworkspace.com">tim@gearheadworkspace.com</a>
      </p>
      <ul>
        {% for error in errors %}
        <li>{{ error.code }}: {{ error.message }}</li>
        {% endfor %}
      </ul>
  </div>
  {% endif %}


  <form role="form" id="checkout" method="post">
    {% csrf_token %}
    <h3>Member Information</h3>
    <div class="form-group col-sm-6">
      <label for="first_name">First Name</label>
      <input name="first_name" type="text" class="form-control" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group  col-sm-6">
      <label for="last_name">Last Name</label>
      <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Last Name">
    </div>
    <div class="form-group  col-sm-12">
      <label for="email">Email address</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>

    <h3>Payment Information</h3>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input class="form-control" type="text" name="amount" placeholder="100.00" pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$">
      </div>
    </div>
    <div id="dropin"></div>

    <button type="submit" class="btn btn-default">Submit Member & Payment</button>

  </form>


</div>

{% endblock %}
